<div class="minheightlogin login" ng-if="!IsLoginedUser" ng-controller="LoginController">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="" style="text-decoration:none;">
            <!--<img src="../assets/pages/img/logo-big.png" alt="" />-->
            <h3 class="form-title font-green">{{"LoginText.LogoText_title"|translate}}</h3>
        </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" id="UserLogin" name="UserLogin">
            <h3 class="form-title font-green">{{"LoginText.SignIn_title"|translate}}</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span ng-message="errormsg">  </span>
            </div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">{{"LoginText.UserName_title"|translate}}</label>
                <input class="form-control form-control-solid placeholder-no-fix" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required ng-model="username" type="text" autocomplete="off" placeholder={{"LoginText.UserName_title"|translate}} name="username" />
                <div class="errormessage"  role="alert" multiple>
                    <div ng-message="required" ng-show="(UserLogin.username.$error.required && UserLogin.username.$touched)">
                        <span >{{"ErrorMessage.UserNameRequired_message"|translate}}</span>
                    </div>
                    <div ng-message="pattern" ng-show="(UserLogin.username.$touched && UserLogin.username.$error.pattern)">
                        <span>{{"ErrorMessage.ValidEmail_message"|translate}}</span>
                    </div>
                   
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{"LoginText.Password_title"|translate}}</label>
                <input class="form-control form-control-solid placeholder-no-fix" required ng-model="password" type="password" autocomplete="off" placeholder={{"LoginText.Password_title"|translate}} name="password" />
            
                <div ng-show="UserLogin.password.$invalid && UserLogin.password.$touched" role="alert" multiple >
                    <div ng-message="required" >
                        <span class="errormessage" >{{"ErrorMessage.PasswordRequired_message"|translate}}</span>
                    </div>
                    <!--<div ng-message="pattern">
            <span translate="LOGIN.ERRORS.EMAIL_MUST_VALID">Email must be a valid e-mail address</span>
        </div>-->
                </div></div>  <div class="errormessage">{{errormsg}}</div>
            <div class="form-actions">
              
                <button type="button" ng-click="LogIn($event)" class="btn green uppercase" ng-disabled="UserLogin.$invalid || UserLogin.$pristine">{{"ControlText.Login_title"|translate}}</button>
                <label class="rememberme check mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="remember" value="1" ng-model="RememberMe" />{{"ControlText.Remember_title"|translate}}
                    <span></span>
                </label>
                <a href="" ng-click="ForgotPasswordForm($event)" id="forget-password" class="forget-password">{{"ControlText.ForgotPassword_title"|translate}}</a>
            </div>
            <!--<div class="login-options">
                <h4>{{"ControlText.OrLoginWith_title"|translate}}</h4>
                <ul class="social-icons">
                    <li>
                        <a class="social-icon-color facebook" data-original-title="facebook" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color twitter" data-original-title="Twitter" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color googleplus" data-original-title="Goole Plus" href="javascript:;"></a>
                    </li>
                    <li>
                        <a class="social-icon-color linkedin" data-original-title="Linkedin" href="javascript:;"></a>
                    </li>
                </ul>
            </div>-->
            <div class="create-account">
                <p>
                    <a href="" id="register-btn" ng-click="RegisterUserForm($event)" class="uppercase">{{"ControlText.CreateAnAccount_title"|translate}}</a>
                </p>
            </div>
        </form>
        
    </div>
  <div class="copyright"> ©{{"ControlText.CopyrightText_title"|translate}}  </div>
</div>

