<div>   
        <div id="responsive">
            <div class="modal-header">                
                <a class="close" ng-click="cancel()" aria-hidden="true"></a>
               <h4 class="modal-title">{{"MainHeader.AdjusterHed"|translate}}</h4>
            </div>
            <div class="modal-body">
                <div class="input-icon margin-bottom-15   pull-right">
                    <i class="icon-magnifier"></i>
                    <input type="text"  ng-model="search" class="form-control   form-control-solid input-block-level" placeholder="{{'Label.searchAdj'|translate}}">
                </div>
                <div class="clearfix"></div>
                <div class="padding-top-10px table-responsive" id="sample_5_wrapper">
                   
                    <table class="table  table-striped table-bordered table-hover table-checkable order-column" id="sample_5">
                        <thead>
                            <tr>
                                <th class="table-checkbox" >                                  
                                </th>
                                <td ng-click="sort('firstName')" class="width35">
                                   {{"Table.AdjusterName"|translate}} 
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='AdjusterName'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                </td>
                                <td ng-click="sort('claimsOnHand')"  class="width15">
                                    {{"Table.CasesInHand"|translate}}
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='CashInHand'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                                </td>
                                <td ng-click="sort('Speciality')">
                                    {{"Table.Speciality"|translate}}
                                    
                                    <span class="glyphicon sort-icon" ng-show="sortKey=='Speciality'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                </td>
                                
                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-if="AdjusterList!=null" dir-paginate="item in AdjusterList|orderBy:sortKey:reverse|filter:search|itemsPerPage:5">
                                <td>
                                    <label class="mt-radio mt-radio-outline mt-radio-single ">
                                        <input type="radio"  name="selectAdjuster" ng-click="getAdjusterId(item.userId)" />
                                        <span></span>
                                    </label>
                                </td>
                                <td>{{item.firstName}} &nbsp;&nbsp;{{item.lastName}} </td>
                                <td>{{item.casesInHand}}</td>
                                <td><font ng-repeat="specialities in item.specialities ">{{specialities.speciality}}<font ng-if="!$last">, &nbsp; </font></font></td>                              
                                                          
                            </tr>
                            <tr ng-if="(AdjusterList.length ===0)||(AdjusterList===null)">
                                <td></td>
                                <td colspan="3" class="text-danger text-center">{{"Table.Norecord"|translate}}</td>
                            </tr>
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                    <div class="clearfix"></div><dir-pagination-controls max-size="3"
                                                                         direction-links="true"
                                                                         boundary-links="true" class="pull-right ">
                    </dir-pagination-controls>
                </div>
               <div class="col-md-12">
                   <div ng-show="Error!=''" class="text-danger">{{Error}}</div>
               </div>
            </div>
            <div class="clearfix"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline dark" ng-click="cancel()">{{"ControlText.CancelAdj"|translate}}</button>
                <button type="button" data-dismiss="modal" class="btn green" ng-click="ok()">{{"ControlText.AssignAdj"|translate}}</button>
            </div>
        </div>
  
</div>

