
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">{{"MainHeader.Claim_Ttile" | translate}}</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">

                        <!--all claims-->
                        <div class="col-md-12 ">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        <!--top buttons-->
                                        <div class="col-md-12 margin-bottom-25">


                                            <button id="sample_editable_1_new pull-left" class="btn sbold green btnMargin">
                                                <i class="fa fa-folder"></i>
                                                {{"ControlText.LoadFromFile"|translate}}
                                            </button>
                                            <button id="sample_editable_1_new" class="btn sbold green btnMargin">
                                                <i class="icon-logout"></i>
                                                {{"ControlText.Export"|translate}}
                                            </button>
                                            <div class="col-md-4 pull-right">
                                                <div class="input-icon left">
                                                    <i class="icon-magnifier"></i>
                                                    <input type="text" ng-model="search" class="form-control form-control-solid input-circle input-block-level btnMargin" placeholder="{{'ControlText.Search_Placeholder' | translate}}">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="portlet">
                                            <div class="portlet-title">
                                                <!--Keep this empty just took for horizontal line-->
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="control-label col-md-1 text-primary">{{"ControlText.ViewDropDown_Title" | translate}} </label>
                                            <div class="col-md-3">
                                                <select class="input-sm select2me" data-placeholder="select" ng-model="ClaimFilter" ng-change="FilterList()">
                                                    <option value="ALL">All</option>
                                                    <option value="HOME">Home</option>
                                                    <option value="AUTO">Auto</option>
                                                </select>
                                            </div>

                                            <label class="control-label col-md-1 text-primary ">{{"ControlText.NoRecordddl_Title" | translate}}</label>
                                            <div class="col-md-3">
                                                <select class="input-sm select2me" ng-model="PageLength">
                                                    <option value="10">10 Claims</option>
                                                    <option value="15">15 Claims</option>
                                                    <option value="20">20 Claims</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Start Table Data-->
                                        <div class="col-md-12 padding-top-10px table-responsive">

                                            <div class="clearfix"> </div>
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_5">
                                                <thead>
                                                    <tr>
                                                        <td ng-click="sort('claimType')">
                                                            {{"Table.Type_Title" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimType'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('claimNumber')">
                                                            {{"Table.Claim_Title" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimNumber'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                                                        </td>
                                                        <td ng-click="sort('policyNumber')">
                                                            {{"Table.Policy_Title" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='policyNumber'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('firstName')">
                                                            {{"Table.InsuredName_Title" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='firstName'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('personalPhoneNumber')">
                                                            {{"Table.InsuredPhone" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='personalPhoneNumber'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('createDate')" class="">
                                                            {{"Table.DateClaim_Title" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='createDate'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('claimStatus')">
                                                            {{"Table.Status_Title" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td>
                                                            {{"Table.Action_Title" | translate}}
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="FilteredMyClaims!==null" dir-paginate="item in FilteredMyClaims|orderBy:sortKey:reverse|filter:search|itemsPerPage:PageLength">

                                                        <td ng-click="GoTOClaimDetails($event,item)"><span ng-class="{'HOME':'fa fa-home fa-lg', 'AUTO':'fa fa-bus fa-lg'}[item.claimType]"></span></td>
                                                        <td ng-click="GoTOClaimDetails($event,item)"><a>{{item.claimNumber}}</a></td>
                                                        <td ng-click="GoTOClaimDetails($event,item)"><a>{{item.policyNumber}}</a></td>
                                                        <td ng-click="GoTOClaimDetails($event,item)"><a>{{item.insuredDetails.firstName}} &nbsp; &nbsp;{{item.insuredDetails.lastName}} </a></td>
                                                        <td ng-click="GoTOClaimDetails($event,item)"><a>{{item.insuredDetails.cellPhone}}</a></td>
                                                        <td>{{item.createDate}}</td>
                                                        <td><span class="btn btn-circle  btn-xs green">{{item.status.status}}</span></td>
                                                        <td>
                                                            <div class="btn-group btn-group-circle btn-outline">
                                                                <button type="button" class="btn green btn-sm btn-outline" ng-click="AssignClaimToAdjuster(item,$index)">{{"ControlText.Assign_title" | translate}}</button>

                                                                <button type="button" class="btn btn-sm red btn-outline" ng-click="RejectClaim(item,$index)">{{"ControlText.Reject_title" | translate}}</button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="(FilteredMyClaims===null )||(FilteredMyClaims.length ===0)">
                                                        <td></td>
                                                        <td colspan="6" class="text-center text-danger">No records avaliable</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>

                                                </tfoot>
                                            </table>
                                            <dir-pagination-controls max-size="3" ng-if="(FilteredMyClaims===null )||(FilteredMyClaims.length ===0)"
                                                                     direction-links="true"
                                                                     boundary-links="true" class="pull-right">
                                            </dir-pagination-controls>
                                        </div>
                                        <!--End Table data-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>