<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <i class="icon-settings font-green-sharp"></i>
                        <span class="caption-subject bold uppercase">{{"TabHeaderText.ClaimSpecialists" | translate}}</span>
                    </div>
                    <div class="tools">
                        <button class="btn sbold green btnMargin" ng-click="NewSpecialists($event,null)">
                            <i class="fa fa-plus"></i>
                            {{"ControlText.NewSpecialists"|translate}}
                        </button>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">                     
                        <div class="col-md-12 ">
                            <div class="portlet light bordered">
                                <div class="portlet-body">
                                    <div class="row">
                                        <!--top buttons-->
                                        <div class="portlet">
                                            <div class="portlet-title">
                                                <!--Keep this empty just took for horizontal line-->
                                                <div class="form-group col-md-12">
                                                    <label class="control-label col-md-1 text-primary">{{"ControlText.View" | translate}} </label>
                                                    <div class="col-md-3">
                                                        <select class="input-sm select2me" data-placeholder="select"></select>
                                                    </div>
                                                    <label class="control-label col-md-1 text-primary ">{{"ControlText.Show" | translate}}</label>
                                                    <div class="col-md-3">
                                                        <select class="input-sm select2me" ng-model="PageLength">
                                                            <option value="10">10 Claims</option>
                                                            <option value="15">15 Claims</option>
                                                            <option value="20">20 Claims</option>
                                                        </select>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="input-icon left">
                                                            <i class="icon-magnifier"></i>
                                                            <input type="text" ng-model="search" class="form-control form-control-solid input-circle input-block-level btnMargin" placeholder="{{'ControlText.Search' | translate}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Start Table Data-->
                                        <div class="col-md-12 padding-top-10px table-responsive">
                                            <div class="clearfix"> </div>
                                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_5">
                                                <thead>
                                                    <tr>
                                                        <td ng-click="sort('EmployeeId')">
                                                            {{"Table.EmployeeId" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='EmployeeId'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('Name')">
                                                            {{"Table.Name" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Name'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('ClaimsInHand')">
                                                            {{"Table.ClaimsInHand" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='ClaimsInHand'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('Designation')">
                                                            {{"Table.Designation" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Designation'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('Type')">
                                                            {{"Table.Type" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Type'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                        <td ng-click="sort('Status')" class="">
                                                            {{"Table.Status" | translate}}
                                                            <span class="glyphicon sort-icon" ng-show="sortKey=='Status'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-if="PricingSpecialistList!=null" dir-paginate="item in PricingSpecialistList|orderBy:sortKey:reverse|filter:search|itemsPerPage:PageLength">
                                                        <td ng-click="EditSpecialists($event,item)">{{item.id}}</td>
                                                        <td ng-click="EditSpecialists($event,item)"><a>{{item.name}}</a></td>
                                                        <td >{{item.casesInHand}}</td>
                                                        <td >{{item.Designation}}</td>
                                                        <td><span  ng-if="item.internal">Internal</span>
                                                        <span  ng-if="!item.internal">External</span>
                                                       </td>
                                                        <td><span class="btn btn-circle  btn-xs green " ng-if="item.status">Active</span>
                                                            <span class="btn btn-circle  btn-xs red" ng-if="!item.status">In-Active</span>
                                                        </td>
                                                    </tr>
                                                    <tr ng-if="(PricingSpecialistList===null)||(PricingSpecialistList.length ===0)">
                                                        <td></td>
                                                        <td colspan="5" class="text-center text-danger">No records avaliable</td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                </tfoot>
                                            </table>
                                            <dir-pagination-controls max-size="3"
                                                                     direction-links="true"
                                                                     boundary-links="true" class="pull-right">
                                            </dir-pagination-controls>
                                        </div>
                                        <!--End Table data-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>