
<div class="row">
    <div class="col-md-12 margin-bottom-10">
        <div class="col-md-12 clearfix">
            <button class="btn sbold btnMargin green" ng-click="GoBack()">
                <i class="fa fa-arrow-left">  </i>
                {{"ControlText.Back"|translate}}
            </button>
        </div>
    </div>
    <!--Serach TextBox-->
    <div class="col-md-12" style="margin-bottom:20px;">
        <div class="col-md-offset-1 col-md-10 ">
            <div class="input-icon left">
                <i class="icon-magnifier"></i>
                <input type="text" ng-model="GlobalSearchText" ng-blur="Search()" ng-keydown="$event.which === 13 && Search()" class="form-control form-control-solid input-circle input-block-level" placeholder={{"MainSearchText"|translate}}>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject bold uppercase">{{"HeaderTitle.SearchResult"|translate}}</span>
                    </div>
                    <div class="tools">
                        <a href="" class="collapse"> </a>
                        <a href="" class="reload"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 margin-bottom-20">

                            <label class="text-logo "><b>1 &nbsp;-&nbsp; {{pagesize}}&nbsp; {{"Of"|translate}} &nbsp;{{totalitemcount}}&nbsp; {{"Result"|translate}}&nbsp; {{"For"|translate}}&nbsp;<span class="text-success">{{DisplayRecordForText}}</span></b></label>
                            <!--<font>{{count}} of {{totalCount}} results for {{SearchText}}</font>-->
                        </div>
                        <div class="form-group col-md-12 clearfix">
                            <label class="col-md-1 text-primary">{{"ControlText.View"|translate}}</label>
                            <div class="col-md-3">
                                <select class="form-control select2me" ng-model="ClaimStatus" data-placeholder="Select Claim Status" ng-change="GetClaimOnStatus($event)">
                                    <option value="ALL" selected>All</option>
                                    <option ng-repeat="items in ddlClaimStatusList" value="{{items.status}}">{{items.status}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dash">
                                <thead>
                                    <tr>
                                        <td ng-click="sort('claimType')">
                                            {{"Table.Type"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimType'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('claimId')">
                                            {{"Table.ClaimId"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimId'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>

                                        </td>
                                        <td ng-click="sort('policyNumber')">
                                            {{"Table.PolicyNo"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='policyNumber'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('username')">
                                            {{"Table.InsuredsName"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='username'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('createDate')" class="">
                                            {{"Table.DateOfClaim"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='createDate'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('claimStatus')">
                                            {{"Table.Status"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td>
                                            {{"Table.LastNote"|translate}}
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr dir-paginate="item in MyClaims|orderBy:sortKey:reverse|filter:search|itemsPerPage:pagesize">
                                        <td><span ng-class="{'HOME':'fa fa-home fa-lg', 'AUTO':'fa fa-bus fa-lg'}[item.claimType]"></span></td>
                                        <td ng-click="GotoClaimDetails(item)"><a>{{item.claimId}}</a></td>
                                        <td ng-click="GotoClaimDetails(item)"><a>{{item.policyNumber}}</a></td>
                                        <td ng-click="GotoClaimDetails(item)"><a>{{item.insuredDetails.firstName +" "+item.insuredDetails.lastName}}</a></td>

                                        <td>{{item.createDate}}</td>
                                        <td><a class="btn btn-circle  btn-xs green">{{item.status.status}}</a></td>
                                        <td><textarea class="form-control" readonly>{{item.lastNote}}</textarea></td>
                                    </tr>
                                    <tr ng-if="MyClaims.length ==0||MyClaims===null">
                                        <td></td>
                                        <td colspan="6" class="text-center text-danger">{{"NoRecordText"|translate}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                            <dir-pagination-controls max-size="3"
                                                     direction-links="true"
                                                     boundary-links="true" class="pull-right">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>