<div class="row">
    <!--Serach TextBox-->

    <div class="col-md-12">

        <div class="col-md-12">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-sharp">
                        <span class="caption-subject bold uppercase">{{"labeltext.Claim#"|translate}} : </span><span style="color:black;font-size:14px">{{ClaimNo}}</span>
                    </div>
                    <div class="tools">
                        <button id="btnBack" class="btn sbold blue btnMargin" ng-click="GoBack()">
                            <i class="fa fa-arrow-left"></i>
                            {{"BtnTexts.Back"|translate}}
                        </button>

                        <a href="" class="collapse"> </a>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="row">
                        <div class="col-md-12 margin-bottom-20">
                            <font>48 / 242 {{"labeltext.ItemsSettled"|translate}}</font>
                            <!--<font>{{count}} of {{totalCount}} results for {{SearchText}}</font>-->
                        </div>
                        <div class="form-group col-md-12 clearfix">
                            <label class="col-md-1 text-primary">{{"labeltext.View"|translate}}</label>
                            <div class="col-md-3">
                                <select class="form-control select2me" ng-model="Category" data-placeholder='{{"labeltext.View"|translate}}'>
                                    <!--<option ng-repeat="items in ddlClaimStatusList" value="items.status">{{items.status}}</option>-->
                                    <option value="1" selected>Search Criteria </option>
                                </select>
                            </div>
                            <label class="col-md-1 text-primary">{{"labeltext.Show"|translate}}</label>
                            <div class="col-md-3">
                                <select class="form-control select2me" ng-model="pagesize" data-placeholder={{"labeltext.Show"|translate}}>
                                    <option value="10">10 Items</option>
                                    <option value="15">15 Items</option>
                                    <option value="20">20 Items</option>
                                </select>
                            </div>
                            <div class="col-md-4 ">
                                <div class="input-icon left">
                                    <i class="icon-magnifier"></i>
                                    <input type="text" ng-model="search" class="form-control form-control-solid input-circle input-block-level" placeholder={{"labeltext.Search"|translate}}>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 table-responsive margin-bottom-15">
                            <table class="table table-striped table-bordered table-hover table-checkable order-column" id="dash">
                                <thead>
                                    <tr>
                                        <td ng-click="sort('')">
                                            {{"labeltext.ItemId"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimType'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.ItemName"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimId'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.ScheduledItem"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='policyNumber'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.PriceQuoted"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='username'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')" class="">
                                            {{"labeltext.Category"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='createDate'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.SubCategory"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.Age"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.Status"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.RCV"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.ACV"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                        <td ng-click="sort('')">
                                            {{"labeltext.FinalValue"|translate}}
                                            <span class="glyphicon sort-icon" ng-show="sortKey=='claimStatus'" ng-class="{'glyphicon-chevron-up pull-right':reverse,'glyphicon-chevron-down pull-right':!reverse}"></span>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="ItemList!=null" dir-paginate="item in ItemList|orderBy:sortKey:reverse|filter:search|itemsPerPage:pagesize">
                                        <td><span ng-class="{'HOME':'fa fa-home fa-lg', 'AUTO':'fa fa-bus fa-lg'}[item.claimType]"></span></td>
                                        <td ng-click="GotoClaimDetails(item)"><a>{{item.claimId}}</a></td>
                                        <td ng-click="GotoClaimDetails(item)"><a>{{item.policyNumber}}</a></td>
                                        <td ng-click="GotoClaimDetails(item)"><a>{{item.username}}</a></td>
                                        <td>{{item.createDate}}</td>
                                        <td><a class="btn btn-circle  btn-xs green">{{item.claimStatus}}</a></td>
                                        <td><textarea class="form-control"></textarea></td>
                                    </tr>
                                    <tr ng-if="ItemList.length ===0 || ItemList===null">
                                        <td></td>
                                        <td colspan="10">{{"NoRecordText" |translate}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                </tfoot>
                            </table>
                            <dir-pagination-controls max-size="3" ng-if="ItemList.length > 0 "
                                                     direction-links="true"
                                                     boundary-links="true" class="pull-right">
                            </dir-pagination-controls>
                        </div>
                        <!--<div class="col-md-12 margin-bottom-25">
                            <label class="col-md-3">22 {{"labeltext.ItemsSettled"|translate}}</label>
                            <label class="col-md-2">{{"labeltext.TotalValue"|translate}} &nbsp; 1234</label>
                        </div>-->
                        <div class="col-md-12">
                            <!--<div class="portlet light bordered">
                                <div class="form-group col-md-3 ">
                                    <label class="control-label text-primary bold"> Payment Method</label>
                                </div>
                                <div class="col-md-8">
                                    <label class="radio-inline col-md-3">
                                        <input type="radio" name="optradio" ng-click="ShowPaymentDetails('DebitCard')">{{"Radio.DebitCard"|translate}}
                                    </label>
                                    <label class="radio-inline col-md-3">
                                        <input type="radio" name="optradio" ng-click="ShowPaymentDetails('Check')">{{"Radio.Check"|translate}}
                                    </label>
                                </div>-->
                                <!--<div class="portlet-title">
                                    <div class="caption font-green-sharp">
                                    </div>
                                </div>-->
                                <!--<div class="portlet-body">
                                    <div class="row">
                                            <div class="col-md-12 margin-top-10" ng-if="DebitCardSection">
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.Amount"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder='{{"FormControlText.Amount"|translate}}' />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.DebitCardNumber"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder='{{"FormControlText.DebitCardNumber"|translate}}' />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.PaymentDate"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input class="form-control datepicker" close-on-date-selection="true" data-provide="datepicker" size="16" type="text" placeholder='{{"FormControlText.PaymentDate"|translate}}' name="Date" />
                                                        </div>
                                                    </div>

                                            </div>
                                            <div class="col-md-12 margin-top-10" ng-if="CheckSection">
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.Amount"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder='{{"FormControlText.Amount"|translate}}' />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.CheckNumber"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder='{{"FormControlText.CheckNumber"|translate}}' />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.DrawnOnBank"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input type="text" class="form-control" placeholder='{{"FormControlText.DrawnOnBank"|translate}}' />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.PaymentDate"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <input class="form-control datepicker" close-on-date-selection="true" data-provide="datepicker" size="16" type="text" placeholder='{{"FormControlText.PaymentDate"|translate}}' name="Date" />
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <div class="col-md-3">
                                                            <label class="control-label text-muted">{{"FormControlText.PartialReplacement"|translate}}</label>
                                                        </div>
                                                        <div class="col-md-9">
                                                            <div class="col-md-12 btn-group btn-group-circle btn-outline text-center">
                                                                <button id="btnReplacmentYes" class="btn green btn-sm btn-outline ng-binding" ng-click="check('#btnReplacmentYes','#btnReplacmentNo')">{{"ControlText.Yes_title"|translate}}</button>
                                                                <button id="btnReplacmentNo" class="btn red  btn-sm btn-outline ng-binding" ng-click="check('#btnReplacmentNo','#btnReplacmentYes')">{{"ControlText.No_title"|translate}}</button>
                                                            </div>
                                                        </div>
                                                    </div>

                                        </div>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

