<div>
    <div class="modal-header">
        <a  class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel($event)"></a>
        <h4 class="modal-title text-primary">{{"ModalHeaderText"|translate}}</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.Cost_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                <input type="text" class="form-control" placeholder='{{"Placeholders.Cost"|translate}}'/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.AnnualDepreciation_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"Placeholders.Depreciation"|translate}}'/>
                </div>
            </div>
            <div class="form-group col-md-12">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"ControlText.InsuranceType"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <form>
                        <div class="col-md-6">
                            <label class="radio-inline">

                                <input type="radio" name="optradio" ng-click="displayACV()" checked>{{"Radio.ACV"|translate}}
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline">

                                <input type="radio" name="optradio" ng-click="displayRCV()">{{"Radio.RCV"|translate}}
                            </label>
                        </div>
                    </form>
</div>
            </div>

            <div class="form-group col-md-12" ng-if="ACVSection">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.ActualCostValue_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"Placeholders.ActualCost"|translate}}'/>
                </div>
            </div>
            <div class="form-group col-md-12" ng-if="ACVSection">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.Taxes_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"Placeholders.Taxes"|translate}}' />
                </div>
            </div>
            <div class="form-group col-md-12" ng-if="ACVSection">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.TotalValue_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"FormControlText.TotalValue_title"|translate}}' />
                </div>
            </div>
            <div class="form-group col-md-12" ng-if="RCVSection">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.ReplacementCostValue_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"Placeholders.ReplacementValue"|translate}}'/>
                </div>
            </div>
            <div class="form-group col-md-12" ng-if="RCVSection">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.Taxes_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"Placeholders.Taxes"|translate}}'/>
                </div>
            </div>
            <div class="form-group col-md-12" ng-if="RCVSection">
                <div class="col-md-6">
                    <label class="col-md-12 text-muted">{{"FormControlText.TotalValue_title"|translate}}</label>
                </div>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder='{{"FormControlText.TotalValue_title"|translate}}'/>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn dark btn-outline" data-dismiss="modal" ng-click="cancel($event)">{{"ControlText.Cancel_title"|translate}}</button>
        <button type="button" class="btn green" ng-click="ok($event)"> {{"ControlText.Save_title"|translate}} </button>
    </div>
</div>