<div class="row">
    <div class="col-md-12">
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                    <h4 class="text-primary">{{"MainHeading"|translate}}</h4>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-offset-2">
                    <div class="form-group col-md-12">
                        <div class="col-md-2 pull-right">
                            <button class="btn form-control blue sbold ">
                                <i class="fa fa-save"></i>
                                {{"ControlText.Save"|translate}}
                            </button>
                        </div>
                    </div>

                    <div class="form-group col-md-12">
                        <div class="col-md-2">
                            <label class="control-label text-muted">{{"Label.RoleGroup"|translate}}</label>
                        </div>
                        <div class="col-md-3">
                            <select class="input-sm select2me" data-placeholder="Select Role">
                                <option ng-repeat="item in RoleList" value="{{item.roleId}}">{{item.roleName}}</option>                               
                            </select>
                        </div>
                        </div>
                        <div class="col-md-12 margin-top-10">
                            <div class="col-md-12">
                                <h4 class="text-primary">{{"ControlText.AccessibleScreens"|translate}}</h4>
                            </div>
                        </div>

                        <div class="form-group col-md-12 margin-top-10">
                            <div class="col-md-2">
                                <label class="text-muted control-label">Page Title</label>
                            </div>
                            <div class="col-md-1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label class="text-muted control-label">Page Title</label>
                            </div>
                            <div class="col-md-1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label class="text-muted control-label">Page Title</label>
                            </div>
                            <div class="col-md-1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label class="text-muted control-label">Page Title</label>
                            </div>
                            <div class="col-md-1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2">
                                <label class="text-muted control-label">Page Title</label>
                            </div>
                            <div class="col-md-1">
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" class="">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-2 pull-right">
                                <button class="btn sbold form-control blue">
                                    <i class="fa fa-save"></i>
                                        {{"ControlText.Save"|translate}}
                                </button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
